body {
    display: grid; 
    grid-template-rows: repeat(6, 1fr) ;
    grid-template-areas: 
    "header"
    "play"
    "play"
    "play"
    "play"
    "directions";    
}

body > h1 {
    grid-area: header; 
    justify-self: center;
    line-height: 1vh;
}

#directions > p {
    grid-area: directions;
    justify-self: center;
    align-items: center;
    font-size: 2vmin  ; 
}

#canvas {
    grid-area: play;
    justify-self: center;
    width: 72vmin; 
    height: 90vmin; 
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "head"
    "body";
}

#bomb-counter-box{
    grid-area: head;
    justify-self: start;
    background-color: red;
    text-align: center;
    width: 8vmin;
    height: 7vmin;
    margin: 4vmax; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
#timer-box{
    grid-area: head;
    justify-self: end;
    background-color: red;
    text-align: center;
    width: 8vmin;
    height: 7vmin;
    margin: 4vmax; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
#reset {
    grid-area: head;
    justify-self: center; 
    height: 8.88vh; 
    width: 5vw; 
    margin-top: 2vmax; 
}
#difficulty-selector {
    grid-area: body; 
    justify-self: center; 
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
#grid {
    grid-area: body;
    justify-self: center; 
    display: none;
    width: 90%;
    height: 90%;
}
#easy {
    height: 7vh; 
    width: 10vmin;
    font-size: 3vmin;
    line-height: 0.8em;

}
#medium {
    height: 7vh; 
    font-size: 3vmin;
    line-height: 0.8em;

}
#hard {
    height: 7vh; 
    width: 10vmin;
    font-size: 3vmin;
    line-height: 0.8em;
}

button > span {
    font-size: 1.5vmin;
}

.result {
    display: none; 
}