body {
    background-color: cornsilk;
    color: rgb(125, 125, 125); 
    display: grid; 
    margin: auto; 
    grid-template-rows: repeat(10, 1fr) ;
    grid-template-areas: 
    "header"
    "directions"
    "play"
    "play"
    "play"
    "play"
    "play"
    "play"
    "play"
    "play";
}

body > h1 {
    grid-area: header; 
    justify-self: center;
    /* line-height: 1vh; */
}


#directions > p {
    grid-area: directions;
    justify-self: center;
    align-items: center;
    text-align: center;
    font-size: 2vmin  ; 
    width: 72vmin; 
    margin: auto;
}

#canvas {
    grid-area: play;
    justify-self: center;
    width: 72vmin; 
    height: 90vmin; 
    border-radius: 2%;
    background-color: transparent;
    border: grey solid;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "head"
    "body";
    margin-bottom: 5vmin;
}

#bomb-counter-box{
    grid-area: head;
    justify-self: start;
    background-color: tomato;
    text-align: center;
    width: 8vmin;
    height: 7vmin;
    margin-top: 1vmax; 
    margin-left: 1.75vmax; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12%;
}

#timer-box{
    grid-area: head;
    justify-self: end;
    background-color: tomato;
    text-align: center;
    width: 8vmin;
    height: 7vmin;
    margin-top: 1vmax; 
    margin-right: 1.95vmax; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12%;
}

#reset-box {
    grid-area: head;
    justify-self: center; 
    display: flex; 
    background-color: transparent;
    justify-content: space-evenly; 
    align-items: center; 
    border-radius: 12%;
    /* margin: 4vmax;  */
}

#reset {
    background-color: burlywood;
    height: 7vmin; 
    width: 7vmin; 
    font-size: 2.5vmin;
    border-radius: 12%;
}

#difficulty-selector {
    grid-area: body; 
    justify-self: center; 
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

#grid {
    grid-area: body;
    justify-self: center; 
    display: none;
    width: 90%;
    height: 90%;
}

#easy {
    height: 8vh; 
    width: 10vmin;
    font-size: 3vmin;
    line-height: 0.8em;
    border-radius: 12%;
}

#medium {
    height: 8vh; 
    font-size: 3vmin;
    line-height: 0.8em;
    border-radius: 12%;
}

#hard {
    height: 8vh; 
    width: 10vmin;
    font-size: 3vmin;
    line-height: 0.8em;
    border-radius: 12%;
}

button > span {
    font-size: 1.5vmin;
}

.result {
    display: none; 
}

.top-bar {
    color: black;
}